.display-grid {
  display: flex;
}
.img {
  width: 82rem;
  max-height: 90vh;
  margin-top: 2rem;
  cursor: pointer;
}
.img-container {
  position: relative;
}
#my-image {
  transition: all 0.5s ease;
}

.image-container.smaller #my-image {
  width: 50%;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}
.text-overlay h1 {
  font-size: 4rem;
  font-style: italic;
}
.txt-right {
  display: none;
  font-style: italic;
  margin: 2rem;
}
.customClass .img {
  width: 50%;
}
.customClass .text-overlay {
  display: none;
}
.customClass .txt-right {
  display: block;
}
